n8n/workflows/url-fetch.json
{
  "_comment": "Replace credential IDs with your actual Supabase API credential IDs in n8n",
  "name": "URL Fetch Workflow",
  "nodes": [
    {
      "name": "Supabase Trigger",
      "type": "n8n-nodes-base.supabaseTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_API_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      },
      "parameters": {
        "table": "saved_spots",
        "event": "INSERT"
      }
    },
    {
      "name": "Fetch OG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "requestMethod": "GET",
        "url": "={{$json[\"url\"]}}"
      }
    },
    {
      "name": "Map Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "values": {
          "string": [
            { "name": "title", "value": "={{$json[\"title\"]}}" },
            { "name": "url", "value": "={{$json[\"url\"]}}" },
            { "name": "thumbnail_url", "value": "={{$node[\"Fetch OG\"].json[\"body\"][\"thumbnail\"]}}" },
            { "name": "category_tags", "value": "=[]" },
            { "name": "priority", "value": "B" }
          ]
        }
      }
    },
    {
      "name": "Update Spot",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_API_CREDENTIAL_ID",
          "name": "Supabase API"
        }
      },
      "parameters": {
        "operation": "update",
        "table": "saved_spots",
        "keyField": "id",
        "updateData": "={{$node[\"Map Data\"].json}}"
      }
    }
  ],
  "connections": {
    "Supabase Trigger": {
      "main": [
        [
          { "node": "Fetch OG", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch OG": {
      "main": [
        [
          { "node": "Map Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Map Data": {
      "main": [
        [
          { "node": "Update Spot", "type": "main", "index": 0 }
        ]
      ]
    }
  }
} 